.container {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
  }
  
  .searchBox {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
  }
  
  .listItem {
    border: 1px solid black;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  
  .heading {
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .journalnote1 {
    border-top: 1px solid black;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
  }
  
  .feedback {
    text-align: center;
    color: red;
  }
  