/* Set the position of the footer to be at the bottom of the page */
.footer {
  position: absolute; /* Sets the position to be absolute */
  bottom: 0; /* Positions the footer at the bottom of the page */
  left: 0; /* Positions the footer at the left of the page */
  right: 0; /* Positions the footer at the right of the page */
  height: 200px; /* Sets the height of the footer */
  padding: 20px; /* Adds padding to the content inside the footer */
}

.footer *{
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.separator1{
  position: absolute; /* Set position to absolute */
  top: -20px; /* Position above the footerColumns by 10 pixels */
  width: 100%; /* Set width to 100% of the footer container */
  z-index: 1; /* Set z-index to 1 to make it appear above other elements */  
}

.footerColumns {
  position: relative; 
  bottom: 60px; /* Positions the footer columns 40 pixels from the bottom of the footer */
  left: 50%; /* Positions the footer columns at the center of the page horizontally */
  transform: translateX(-50%); /* Moves the footer columns back 50% of their width to center them */
  display: flex; /* Uses a flexbox display for the columns */
  justify-content: space-between; /* Spaces out the columns evenly */
  width: 50%; /* Sets the width of the columns to be 100% of their container */
  margin-top: 30px;
  z-index: 0; 
  flex-direction: row; /* Aligns the links horizontally */
}

.separator2{
  position: absolute;
  bottom: 110px; /* Adjust this value to change the distance between separator2 and footerLinks */
  left: 0;
  right: 0;

}

.footerColumn h4 {
  margin-bottom: 10px; /* Adds margin to the bottom of each column heading */
}



/* Set the position of the footer image */
.footerImage {
  position: absolute; /* Sets the position of the image to be absolute */
  bottom: 20px; /* Positions the image 2cm from the bottom of the page */
  left: 100px; /* Positions the image 2cm from the right of the page */ 
}

/* Set the position and style of the footer links */
.footerLinks {
  position: absolute; /* Sets the position of the footer links to be absolute */
  bottom: 50px; /* Positions the links 1cm from the bottom of the page */
  right: 100px; /* Positions the links 2cm from the right of the page */
  display: flex; /* Uses a flexbox display for the links */
  flex-direction: row; /* Aligns the links horizontally */
  align-items: center; /* Centers the links horizontally */
}
.footerLinks a {
  margin-right: 20px; /* Adds margin to the right of each link */
}
