/* Set the position of the footer to be at the bottom of the page */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto; 
  padding: 20px;
}

/* Set font-family and font color to the footer */
.footer * {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: none; 
  text-decoration: none;
}

/*Change hover color on links*/
a:hover{
  color: #0050B1;
  text-decoration: underline;
}

/* Add media query for screens larger than 768px */
@media screen and (min-width: 768px) {

  .footerColumns {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin:0 auto;
    z-index: 0;
    flex-direction: row;
    
  }

  .footerColumn {
    width: 30%; /* Adjust width of columns for larger screens */
    
  }

  .footerColumn h4 {
    margin-bottom: 10px;
    padding-left: 40px;
  }

  

  .separator2 {
    position: absolute;
    bottom: 80px;
    width: 100%;
    left: 0;
    right: 0;
  }

  /* Set the position and style of the footer links */
  .footerLinks {
    position: absolute;
    bottom: 50px;
    right: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footerLinks a {
    margin-right: 20px;
  }  

}

/* Add media query for screens smaller than 768px */
@media screen and (max-width: 768px) {

  .footerColumns {
    display: block; /* Change display to block for smaller screens */
    width: 100%;
    margin: 0 auto;
    z-index: 0;
    flex-direction: column; /* Align columns vertically for smaller screens */
  }

  .footerColumn {
    width: 100%; /* Set width to 100% for smaller screens */
    margin-bottom: 20px; /* Add margin between columns */
  }

  .separator1 {
    position: absolute;
    top: -20px;
    width: 100%;
    z-index: 1;
    display: block; /* Show separator1 for smaller screens */
  }

  .separator2 {
    display: none; /* Hide separator2 for smaller screens */
  }

  /* Set the position and style of the footer links */
  .footerLinks {
    position: static; /* Change position to static for smaller screens */
    display: block;
    margin-top: 20px; /* Add margin between links and columns */
  }

  .footerLinks a {
    display: block; /* Display links as block for smaller screens */
    margin: 10px 0; /* Add margin to top and bottom of links */
  }
   

}
