.navbar{
    background-color: #f8f9fa;  
    
}

.list-item{
    color:rgb(0, 0, 0) !important ;
    padding: 0px 10px !important;
}

.mx-auto{
    margin: 0 !important;
    padding: 0 !important;
}

.list-item:hover {
    background-color:rgb(197, 221, 240);
    border-radius: 4px !important;
    transition: all 0.2s ease-out;
    text-decoration: underline !important;
}

.btn{
    background: #1D75BD !important;
    border: none;
    margin-right: 10px;
}

.btn:hover{
    color: rgb(0, 0, 0) !important;
}

/* style for the  logo animation, make the picture "pop-out" on hoover */

.logoAnimation {
    transition: transform 0.3s ease-in-out;
  }
  
  .logoAnimation:hover {
    transform: scale(1.2);
  }

