
Athlete_Medical_sourcecode/Backend/AthleteMedicalBackendApi/.vs/AthleteMedicalBackendApi/xs/UserPrefs.xml

.fake
Athlete_Medical_sourcecode/Backend/AthleteMedicalBackendApi/AthleteMedicalBackendApi/obj/Debug/net7.0/project.razor.json
Athlete_Medical_sourcecode/Backend/AthleteMedicalBackendApi/AthleteMedicalBackendApi/bin/Debug/net7.0/AthleteMedicalBackendApi.dll
Athlete_Medical_sourcecode/Backend/AthleteMedicalBackendApi/AthleteMedicalBackendApi/bin/Debug/net7.0/AthleteMedicalBackendApi.pdb
Athlete_Medical_sourcecode/Backend/AthleteMedicalBackendApi/AthleteMedicalBackendApi/obj/Debug/net7.0/AthleteMedicalBackendApi.dll
Athlete_Medical_sourcecode/Backend/AthleteMedicalBackendApi/AthleteMedicalBackendApi/obj/Debug/net7.0/AthleteMedicalBackendApi.pdb
