:root{
    --primaryColor: #fafafa;
    --secondaryColor:#fcf8f3;
    --tertiaryColor: #8ccdfc;
    --quaternaryColor:#69abfa;
    --hoverColor:#e2edfc;
    --border: 1rem;
    --border-radius: 2rem;
    --pri-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --sec-shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;


}





.sidebarContainer{
    height: 100vh;
    width: 20vw;
    background-color: var(--primaryColor);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: fixed;

    

}

.contentContainer{
    background-color: var(--secondaryColor);
    border:black;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 2rem;
    box-shadow: var(--pri-shadow);



}



.titleWrapper{
    border:black;
    background-color: var(--secondaryColor);
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: var(--pri-shadow);

}
.title{
    padding-left: 1rem;
    font-size: 1.5em;
}


.linkWrapper{
    border:black;
    background-color:var(--secondaryColor);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-top: 0.25rem;
    box-shadow: var(--pri-shadow);

}





.links{
    background-color: var(--secondaryColor);
    color: black;
    border-radius: 2rem;
    margin-left: 1.5rem;
    margin-right: 2rem;
    outline: none;
    text-decoration: none;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1.25rem;
    width: 80%;
    height: 100%;
    box-shadow: var(--sec-shadow);
}

.links:hover{
    background-color: var(--hoverColor);
}