.navContainer{
    background-color: #efefef;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 20vh;
    padding-top: 2rem;
    margin: 1rem 1rem 1rem 1rem;
    
    
    
}
.logo{
    padding-left: 3rem;
    padding-right: 3rem;
}

.loggOut{
    padding-right: 3rem;
}

.img1{
    width: 5rem;
    height: 5rem;
    background-color:#efefef;
}



.img2{
    width: 3rem;
    height: 3rem;
    background-color:#f20c0c;
    border-radius: 20%;

}